# Git
.git
.gitignore

# Poetry
.venv
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs and data
logs/
data/
*.log

# OS specific
.DS_Store
Thumbs.db 